.tree {
	color: #000000;
	borderColor: #000000;
	fontSize: 10;
	fillColors: #444444, #666666;
}
.button {
	color: #DDDDDD;
	borderColor: #111111;
	fontSize: 13;
	fillColors: #444444, #666666;
}
.smallButton {
	color: #DDDDDD;
	borderColor: #111111;
	fontSize: 9;
	fillColors: #444444, #666666;
}
