<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="sidecarviz.splashHandlers.EclipseSplashHandler"
            id="sidecarviz.splashHandlers.EclipseSplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="sidecarviz.splashHandlers.EclipseSplashHandler"
            productId="org.eclipse.sdk.ide">
      </splashHandlerProductBinding>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="SideCar Actions"
            visible="true"
            id="sidecarviz.actions.StartSideCarActionSet">
         <action
               label="&amp;Start SideCar"
               icon="icons/planet.png"
               class="sidecarviz.actions.StartSideCarAction"
               tooltip="SideCar Action"
               toolbarPath="startupGroup"
               id="sidecarviz.actions.StartSideCarAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="SideCar Java Editor"
            extensions="java"
            icon="icons/sun.gif"
            contributorClass="sidecarviz.editors.ActionBarContributor"
            class="sidecarviz.editors.SideCarJavaEditor"
            id="sidecarviz.editors.SideCarJavaEditor">
      </editor>
   </extension>







   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="sidecarviz.handlers.CopyHandlerCommand"
            class="sidecarviz.handlers.CopyHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SideCarCommandCategory"
            id="sidecarviz.commands.category">
      </category>
      <command
            name="SideCarCopyCommand"
            categoryId="sidecarviz.commands.category"
            id="sidecarviz.handlers.CopyHandlerCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="sidecarviz.handlers.CopyHandlerCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
   

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="sidecarviz.handlers.PasteHandlerCommand"
            class="sidecarviz.handlers.PasteHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SideCarCommandCategory"
            id="sidecarviz.commands.category">
      </category>
      <command
            name="SideCarPasteCommand"
            categoryId="sidecarviz.commands.category"
            id="sidecarviz.handlers.PasteHandlerCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="sidecarviz.handlers.PasteHandlerCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+7"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>


   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="sidecarviz.handlers.CutHandlerCommand"
            class="sidecarviz.handlers.CutHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SideCarCutCommandCategory"
            id="sidecarviz.commands.category">
      </category>
      <command
            name="SideCarCutCommand"
            categoryId="sidecarviz.commands.category"
            id="sidecarviz.handlers.CutHandlerCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="sidecarviz.handlers.CutHandlerCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+8"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>


</plugin>
